body {
    font-family: 'Plus Jakarta Sans';
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
}

#books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}


