:root {
    --color-main: #92B4EC
}

body {
    font-family: 'Raleway';
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgb(250, 250, 250);
}

.header {
    padding: 50px min(400px, 20%);
    background-color: var(--color-main);
}

.main {
    padding: 40px 20vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.book-card {
    padding: 3rem;
    background-color: #FFF;
    display: grid;
    place-items: center;
    grid-template-areas: 
        "title title"
        "author author"
        "pages pages"
        "read remove";
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    row-gap: 4rem;
    text-align: center;
}

.book-title {
    grid-area: title;
    text-align: center;
    text-overflow: ellipsis;
}


.book-author {
    grid-area: author;
    font-size: 1.5rem;
    height: 100px;
}

.book-pages {
    grid-area: pages;
    font-size: 1.5rem
}

.book-remove {
    background: none;
    border: none;
    color: rgb(150, 150, 150);
    cursor: pointer;
    transition: 0.2s;
}

.book-remove:hover {
    color: rgb(231, 104, 104);
}

.add-book {
    height: 60px;
    margin: auto;
    font-size: 1.5rem;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #999;
    border: 3px solid #EEE;
    background-color: #EEE;
    transition: 0.2s;
    width: min(400px, 50vw);
}

.add-book:hover {
    border: 3px solid #999;
    color: #999;
    background-color: inherit;
}

.add-book-form {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    z-index: 20;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.add-book-form>input {
    padding: 0.7rem;
}

.add-book-form input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
}

input[type="submit"],
.label-input-container {
    display: block;
    font-size: 1.5rem;
}

.read-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

input[type="submit"] {
    background-color: #05DCA2;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    height: 4rem;
    width: 100%;
    border-radius: 10px;
    transition: 0.1s;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: inherit;
    color: #05DCA2;
    border: 3px solid #05DCA2;
} 

input[type="reset"] {
    display: none;
}

.close-book-form {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
    color: rgb(255, 78, 78);
    cursor: pointer;
}

.hidden {
    display: none;
}

.dim {
    background-color: #000;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*  -.-.-.-.-.-.-.-.-.-.-.-
    Read Switch CSS */

.switch {
    --width: 160px;
    --height: calc(var(--width)/4);
    --border-radius: calc(var(--height)/2);
    display: inline-block;
    cursor: pointer;
}

.switch-input {
    display: none;
}

.switch-fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background-color: #DDD;
    transition: background 0.2s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.switch-fill>* {
    display: inline;
    text-align: center;
    font-size: 0.8rem;
    z-index: 10;
    font-weight: bold;
}

.switch-fill>*:last-child {
    color: #666;
}

.switch-fill>*:first-child {
    color: #666;
}

.switch-input:checked ~ .switch-fill>*:last-child {
    color: #05DCA2;
}

.switch-input:checked ~ .switch-fill>*:first-child {
    color: white;
}

.switch-input:checked ~ .switch-fill {
    background-color:#05DCA2;
}

.switch-fill::after { /* creates a virtual element after switch-fill*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--height));
    width: calc(var(--width)/2);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    transition: left 0.2s;
}

.switch-input:checked ~ .switch-fill::after {
    left: calc(var(--width)/2 + 1px);
}

/*  -.-.-.-.-.-.-.-.-.-.-.-